<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyongliang.book.dao.IBookOrderInfoMapper">
	<resultMap id="BookOrderInfoMap" type="BookOrderInfoBean">
		<id property="code" column="code" />
		<result property="bookCode" column="book_code" />
		<result property="orderCode" column="order_code" />
		<result property="payPrice" column="pay_price" />
		<result property="quantity" column="quantity" />
	</resultMap>
	<delete id="deleteBookOrderInfo" parameterType="Integer">
	delete from book_order_info_tb where order_code=#{orderCode}
	</delete>
	<insert id="insertBookOrderInfo" parameterType="BookOrderInfoBean">
	INSERT INTO book_order_info_tb 
	( 
	order_code, 
	book_code, 
	quantity, 
	pay_price
	)
	VALUES
	( 
	#{orderCode}, 
	#{bookCode}, 
	#{quantity}, 
	#{payPrice}
	);	
	</insert>
	<select id="selectBookOrderInfoByOrderCode" parameterType="Integer" resultMap="BookOrderInfoMap" resultType="list">
	select * from book_order_info_tb where order_code=#{orderCode}
	</select>
</mapper>