<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">

    <title>网站首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="${rc.contextPath}/resources/favicon.png">

    <link rel="stylesheet" href="${rc.contextPath}/resources/css/grid.css">
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/style.css">
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/normalize.css">

    <script src="${rc.contextPath}/resources/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="${rc.contextPath}/resources/js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="${rc.contextPath}/resources/js/html5.js"></script>
    <script src="${rc.contextPath}/resources/js/main.js"></script>
    <script src="${rc.contextPath}/resources/js/radio.js"></script>
    <script src="${rc.contextPath}/resources/js/checkbox.js"></script>
    <script src="${rc.contextPath}/resources/js/selectBox.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.carouFredSel-5.2.2-packed.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.jqzoom-core.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.transit.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.easing.1.2.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.anythingslider.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.anythingslider.fx.js"></script>
</head>
<body>
    <div id="top">
            <div class="grid_12">
                <nav>
                    <ul>
                        <li class="current"><a href="">快速通道&nbsp;>&nbsp;>&nbsp;></a></li>
						<li><a href="selcetUserInfo?userName=$!realName">个人中心</a></li>
                        <li><a href="historyOrder?userCode=$!userCode">我的订单</a></li>
                        <li><a href="getAllShoppingCar?userCode=$!userCode">我的购物车</a></li>
                    </ul>
                </nav>
            </div><!-- .grid_9 -->

    </div><!-- #top -->

    <header>
        <div class="container_12">
            <div class="grid_3">
                <hgroup>
                    <h1 id="site_logo"><a href="/book-ui/user/index" title=""><img style="border:0" src="${rc.contextPath}/resources/images/logo.png" alt="图书商城"></a></h1>
                    <h2 id="site_description">给你不一样的购书体验</h2>
                </hgroup>
            </div><!-- .grid_3 -->

            <div class="grid_9">
                <div class="top_header">
                    <div class="welcome">
						#if($realName == "")
            				<span>欢迎来到网站首页  请</span><a href="/book-ui/user/login">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/book-ui/user/register">免费注册</a>.
            			#else
            				<span>您好!&nbsp;&nbsp;</span><a href="selcetUserInfo?userName=$!realName">$!realName</a>,&nbsp;&nbsp;欢迎来到网站首页!
            				<a style="float:right" href="login">切换用户</a>
            			#end
                    </div><!-- .welcome -->

                    <ul id="cart_nav">
                        <li>
                            <a class="cart_li" href="#">
                                <div class="cart_ico"></div>
									购物车
                            </a>
                            <ul class="cart_cont">
                                <li class="no_border recently">最近添加的项目</li>
								#if(${shoppingCarList} != "[]")
                			      #foreach($card in $shoppingCarList)
                	              <li>
                	                <a code="$!card.bookCode"class="prev_cart js_list_book"><div class="cart_vert"><img src="$!imagesPath$!{card.bookInfoBean.bookPicture}" alt="" title="" /></div></a>
                	                <div class="cont_cart">
                	                  <h4>$!{card.bookInfoBean.bookName}</h4>
                					  #if($!card.bookInfoBean.isDiscounts == 1)
                    						#set($new=$!card.bookInfoBean.bookPrice * ( 1 - $!card.bookInfoBean.bookDiscounts))
                                          <div class="price">$!{card.bookQuantity} x ￥ $new</div>
                    					#else
                    						<div class="price">$!{card.bookQuantity} x ￥ $!card.bookInfoBean.bookPrice</div>
                    					#end
                	                </div>
                	                <a title="close" class="close js_close_car" carCode="$!{card.code}"></a>
                	                <div class="clear"></div>
                	              </li>
                              		#end
                			  #else
                					<tr>
                	                    <td colspan="6">
                							<span style="font-size:10pt;margin-left:35%">购物车是空的</span>
                						</td>
                	                </tr>
                				#end
                                <li class="no_border">
                                    <a href="getAllShoppingCar?userCode=$!userCode" class="view_cart">查看购物车</a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- .cart_nav -->
					
					<script>
                   	$(function(){
                   		$(".js_close_car").click(function(){
                   			var carCode = $(this).attr("carCode");
                   			var data = {
            						carCode:carCode
            					};
            					$.ajax
            					({
            							type:'get',
            							url:'removeShoppingCar',
            							data:data,
            							dataType:'text',
            							success:function(){
            								alert("删除成功!");
            								history.go(0);
            							},
            							error:function(){
            								alert("删除失败!");
            							}
            					})
                   		})
                   	})
                   </script>
				   <script>
            		$(function(){
            			$(".js_obn").click(function(){
            				var code = $(this).attr("code");
            				var userCode = $(this).attr("userCode");
            				var bookName = $(this).attr("bookName");
            				var getData={
            						   bookCode:code,
            						   userCode:userCode,
            						   bookName:bookName
            				};
            				$.ajax
            				({
            					type:'get',
            					url:'bookcompareadd',
            					data:getData,
            					dataType:'text',
            					success:function(){
            						alert("添加比较列表成功!");
            						history.go(0);
            					},
            					error:function(){
            						alert("添加比较列表失败,请检查登录状态!");
            					}
            				})
            			})
            			$(".js_bay").click(function(){
            				var code = $(this).attr("code");
            				var userCode = $(this).attr("userCode");
            				var bookQuantity = 1;
            				var getData={
            						   bookCode:code,
            						   userCode:userCode,
            						   bookQuantity:bookQuantity
            				};
            				$.ajax
            				({
            					type:'get',
            					url:'addShoppingCar',
            					data:getData,
            					dataType:'text',
            					success:function(){
            						alert("添加购物车成功!");
            						history.go(0);
            					},
            					error:function(){
            						alert("添加购物车失败,请检查登录状态!");
            					}
            				})
            			})
            			
            		})
            	</script>
				<script>
        	  	$(function(){
        			$(".js_list_book").click(function(){
        				var code = $(this).attr("code");
        				window.location.href="bookdetailed?code="+code;
        			})
        		})
        	  </script>
                    <form class="search" action="bookInfoNameGrid">
                        <input type="submit" class="search_button" value="">
                        <input type="text" name="bookName" class="search_form" value="" placeholder="搜索您需要的图书 ...">
                    </form><!-- .search -->
                </div><!-- .top_header -->

                <nav class="primary">
                    <ul>
                        <li class="curent"><a href="">导航&nbsp;>&nbsp;>&nbsp;></a></li>
                        <li class="parent">
                           <a href="bookInfoGrid?bookType=所有分类">所有分类</a>
                            <ul class="sub">
                                #foreach($navAll in $navList)
                					<li style="text-align:center"><a href="bookInfoGrid?bookType=$!navAll.navPareName">$!navAll.navPareName</a></li>
                                #end
                            </ul>
                        </li>
                        #foreach($nav in $navList)
            				<li><a href="bookInfoGrid?bookType=$!nav.navPareName">$!nav.navPareName</a></li>
            			#end
                    </ul>
                </nav><!-- .primary -->
            </div><!-- .grid_9 -->
        </div>
    </header>

    <div id="slider_body">
        <ul id="slider">
			#foreach($advPhoto in $advPhotoList)
            <li>	
                 <div class="slid_content">
					<br/><br/>
                    <p style="color:white;font-size:20pt">$!advPhoto.photoDescribe.</p>
					<br/>
                    <a class="buy_now" href="bookInfoGrid?bookType=所有分类">随便看看</a>
                  </div>
				  <img src="$!imagesPath$!{advPhoto.fileName}" alt="" title="$!advPhoto.photoDescribe" />
            </li>
			#end
        </ul>
    </div><!-- #slider_body -->

    <div id="home_banners">
        <div class="container_12">
            <div class="grid_6" style="margin-left:10%">
                <a href="" class="banner banner1"><strong>送货上门</strong> 我们尽职尽责！</a>
            </div><!-- .grid_6 -->

            <div class="grid_4">
                <a href="" class="banner banner2"><strong>售后保障</strong> 我们尽心尽力！</a>
            </div><!-- .grid_6 -->
        </div>
    </div><!-- #home_banners -->

    <section id="main" class="home">
        <div class="container_12">
            <div id="content">
                <div class="grid_12">
                    <h2 class="product-title">首页新书推荐</h2>
                </div><!-- .grid_12 -->

                <div class="clear"></div>

                <div class="products">
					#foreach($newList in $bookInfoListNew)
                    <article class="grid_3 article">
                        <img class="sale" src="${rc.contextPath}/resources/images/new.png" alt="New">
                        <div class="prev">
                            <a code="$!newList.code" class="js_list_book"><img src="$!imagesPath$!{newList.bookPicture}" alt="" title="$!newList.bookName"></a>
                        </div><!-- .prev -->

                        <h3 class="title">$!newList.bookName</h3>
                        <div class="cart">
                            <div class="price">
                                <div class="vert">
                                    #if($!newList.isDiscounts == 1)
                						#set($new=$!newList.bookPrice * ( 1 - $!newList.bookDiscounts))
                                      <div class="price_new">￥ $new</div>
                                      <div class="price_old">￥ $!newList.bookPrice</div>
                					#else
                						<div class="price_new">￥ $!newList.bookPrice</div>
                					#end 
                                </div>
                            </div>
                            <a code="$!{newList.code}" bookName="$!{newList.bookName}" userCode="$!userCode" class="obn js_obn"></a>
                            <a code="$!{newList.code}" userCode="$!userCode" class="bay js_bay"><img src="${rc.contextPath}/resources/images/bg_cart.png" alt="Buy" title=""></a>
                        </div><!-- .cart -->
                    </article><!-- .grid_3.article -->
					#end
                    <div class="clear"></div>
                </div><!-- .products -->
                <div class="clear"></div>
            </div><!-- #content -->

            <div class="clear"></div>
			
			<div id="content">
                <div class="grid_12">
                    <h2 class="product-title">首页畅销推荐</h2>
                </div><!-- .grid_12 -->

                <div class="clear"></div>

                <div class="products">
					#foreach($hotList in $bookInfoListHot)
                    <article class="grid_3 article">
                        <img class="sale" src="${rc.contextPath}/resources/images/sale.png" alt="Hot">
                        <div class="prev">
                            <a code="$!hotList.code" class="js_list_book"><img src="$!imagesPath$!{hotList.bookPicture}" alt="" title="$!hotList.bookName"></a>
                        </div><!-- .prev -->

                        <h3 class="title">$!hotList.bookName</h3>
                        <div class="cart">
                            <div class="price">
                                <div class="vert">
                                    #if($!hotList.isDiscounts == 1)
                						#set($new=$!hotList.bookPrice * ( 1 - $!hotList.bookDiscounts))
                                      <div class="price_new">￥ $new</div>
                                      <div class="price_old">￥ $!hotList.bookPrice</div>
                					#else
                						<div class="price_new">￥ $!hotList.bookPrice</div>
                					#end 
                                </div>
                            </div>
                            <a code="$!{hotList.code}" bookName="$!{hotList.bookName}" userCode="$!userCode" class="obn js_obn"></a>
                            <a code="$!{hotList.code}" userCode="$!userCode" class="bay js_bay"><img src="${rc.contextPath}/resources/images/bg_cart.png" alt="Buy" title=""></a>
                        </div><!-- .cart -->
                    </article><!-- .grid_3.article -->
					#end
                    <div class="clear"></div>
                </div><!-- .products -->
                <div class="clear"></div>
            </div><!-- #content -->

            <div class="clear"></div>
			
			<div id="content">
                <div class="grid_12">
                    <h2 class="product-title">首页评分推荐</h2>
                </div><!-- .grid_12 -->

                <div class="clear"></div>

                <div class="products">
					#foreach($highList in $bookInfoListHigh)
                    <article class="grid_3 article">
                        <img class="sale" src="${rc.contextPath}/resources/images/top.png" alt="Top">
                        <div class="prev">
                            <a code="$!highList.code" class="js_list_book"><img src="$!imagesPath$!{highList.bookPicture}" alt="" title="$!highList.bookName"></a>
                        </div><!-- .prev -->

                        <h3 class="title">$!highList.bookName</h3>
                        <div class="cart">
                            <div class="price">
                                <div class="vert">
                                    #if($!highList.isDiscounts == 1)
                						#set($new=$!highList.bookPrice * ( 1 - $!highList.bookDiscounts))
                                      <div class="price_new">￥ $new</div>
                                      <div class="price_old">￥ $!highList.bookPrice</div>
                					#else
                						<div class="price_new">￥ $!highList.bookPrice</div>
                					#end 
                                </div>
                            </div>
                            <a code="$!{highList.code}" bookName="$!{highList.bookName}" userCode="$!userCode" class="obn js_obn"></a>
                            <a code="$!{highList.code}" userCode="$!userCode" class="bay js_bay"><img src="${rc.contextPath}/resources/images/bg_cart.png" alt="Buy" title=""></a>
                        </div><!-- .cart -->
                    </article><!-- .grid_3.article -->
					#end
                    <div class="clear"></div>
                </div><!-- .products -->
                <div class="clear"></div>
            </div><!-- #content -->

            <div class="clear"></div>

            <div id="brands">
                <div class="c_header">
                    <div class="grid_10">
                        <h2>金牌会员</h2>
                    </div><!-- .grid_10 -->

                    <div class="grid_2">
                        <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                        <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
                    </div><!-- .grid_2 -->
                </div><!-- .c_header -->

                <div class="brands_list">
                    <ul id="listing">
                        <li>
                            <div class="grid_2">
                                <a href=""><div><img src="${rc.contextPath}/resources/images/content/brand1.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                       <li>
                            <div class="grid_2">
                                <a href=""><div><img src="${rc.contextPath}/resources/images/content/brand2.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                       <li>
                            <div class="grid_2">
                                <a href=""><div><img src="${rc.contextPath}/resources/images/content/brand3.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                       <li>
                            <div class="grid_2">
                                <a href=""><div><img src="${rc.contextPath}/resources/images/content/brand4.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                       <li>
                            <div class="grid_2">
                                <a href="#"><div><img src="${rc.contextPath}/resources/images/content/brand5.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                       <li>
                            <div class="grid_2">
                                <a href="#"><div><img src="${rc.contextPath}/resources/images/content/brand6.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
						<li>
                            <div class="grid_2">
                                <a href="#"><div><img src="${rc.contextPath}/resources/images/content/brand3.png" alt="" title=""></div></a>
                            </div><!-- .grid_2 -->
                        </li>
                    </ul><!-- #listing -->
                </div><!-- .brands_list -->
            </div><!-- #brands -->

            <div id="content_bottom">
                <div class="grid_6">
                    <div class="bottom_block about_as">
                        <h3>关于我们</h3>
                        <p>我们的门牌号码是：北京市海淀区上地东路1号</p>
                        <p>我们的电话号码是：+86 17710215512</p>
                        <p>我们的邮箱地址是：fanyongliang@support.com</p>
                    </div><!-- .about_as -->
                </div><!-- .grid_6 -->

                <div class="grid_6">
                    <div class="bottom_block news">
                        <h3>热帖</h3>
                        <ul>
                            <li>
                                <time datetime="2012-03-03">3 january 2015</time>
                                <a href="#">为您的第一次购物保驾护航.</a>
                            </li>

                            <li>
                                <time datetime="2012-02-03">2 january 2015</time>
                                <a href="#">网站各部分操作使用流程.</a>
                            </li>

                            <li>
                                <time datetime="2012-01-03">1 january 2015</time>
                                <a href="#">欢迎注册本网站，新人报道贴.</a>
                            </li>
                        </ul>
                    </div><!-- .news -->
                </div><!-- .grid_6 -->
                <div class="clear"></div>
            </div><!-- #content_bottom -->
        </div><!-- .container_12 -->
    </section><!-- #main.home -->

    <footer>
        <div class="footer_navigation">
            <div class="container_12">
                <div class="grid_3">
                     <h3>联系我们</h3>
                    <ul class="f_contact">
                        <li>北京市海淀区上地东路1号</li>
                        <li>+86 17710215512</li>
                        <li>fanyongliang@support.com</li>
                    </ul><!-- .f_contact -->
                </div><!-- .grid_3 -->

                <div class="grid_3">
                    <h3>友情链接</h3>
                    <nav class="f_menu">
                       <ul>
                          <li><a target="_blank" href="http://www.taobao.com">淘宝网</a></li>
            			  <li><a target="_blank" href="http://www.tmall.com">天猫商城</a></li>
            			  <li><a target="_blank" href="http://www.jd.com">京东</a></li>
            			  <li><a target="_blank" href="http://www.amazon.cn">亚马逊</a></li>
            			  <li><a target="_blank" href="http://www.dangdang.com">当当网</a></li>
            			  
                        </ul>
                    </nav><!-- .private -->
                </div><!-- .grid_3 -->

                <div class="grid_3">
                    <h3>服务支持</h3>
                    <nav class="f_menu">
                        <ul>
                          <li><a href="feedbackshow">用户反馈</a></li>
            			  <li><a href="feedbackshow">关于我们</a></li>
                        </ul>
                    </nav><!-- .private -->
                </div><!-- .grid_3 -->

                <div class="grid_3">
                    <h3>个人服务</h3>
                    <nav class="f_menu">
                        <ul>
                          <li><a href="selcetUserInfo?userName=$!realName">个人中心</a></li>
                          <li><a href="historyOrder?userCode=$!userCode">我的历史订单</a></li>
                          <li><a href="getAllShoppingCar?userCode=$!userCode">购物车</a></li>
                        </ul>
                    </nav><!-- .private -->
                </div><!-- .grid_3 -->


                <div class="clear"></div>
            </div><!-- .container_12 -->
        </div><!-- .footer_navigation -->

        <div class="footer_info">
            <div class="container_12">
                <div class="grid_6">
                    <p class="copyright">Copyright (C) 图书商城 2015-2025, All Rights Reserved</p>
                </div><!-- .grid_6 -->

                <div class="grid_6">
                    <div class="soc">
                        <a class="google" href=""></a>
                        <a class="twitter" href=""></a>
                        <a class="facebook" href=""></a>
                    </div><!-- .soc -->
                </div><!-- .grid_6 -->

                <div class="clear"></div>
            </div><!-- .container_12 -->
        </div><!-- .footer_info -->
    </footer>
</body>
</html>
