<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <title>广告管理</title>
	<link rel="shortcut icon" href="/book-ui/resources/favicon.png">
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/font.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/app.v2.css" type="text/css" />
    <link href="${rc.contextPath}/resources/css/datatables.css" rel="stylesheet" />
    <script src="${rc.contextPath}/resources/js/app.v2.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery-1.7.2.min.js" ></script>
	<script src="${rc.contextPath}/resources/js/jquery-ui.dialog.min.js"></script>
	<script src="${rc.contextPath}/resources/js/jquery.lightbox.js" type="text/javascript"></script>
    <style>
        .fa-20x { font-family: 'Microsoft YaHei'; font-size: 20px; line-height: 2em; }

        .fa-10x { font-family: 'Microsoft YaHei'; font-size: 18px; line-height: 1em; }

        div.dataTables_wrapper select { width: auto; margin: 0 4px; }

        .navbar-brand .logo { max-height: 30px; border-radius: 3px; }

        table td { word-wrap: break-word; }

        .flleft { float: left; padding-left: 10%; }
    </style>
	<script>
		function validFile(){
        	if($("#file").val() != null && $("#file").val() != ""){
        		$("#address").val($("#file").val());
        	}else{
        		$("#address").val("");
        	}
			if($("#fileadd").val() != null && $("#fileadd").val() != ""){
				$("#addressadd").val($("#fileadd").val());
        	}else{
				$("#addressadd").val("");
        	}
        	
        }
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){	    
			$(".lightbox").lightbox({
			    fitToScreen: true,
			    imageClickClose: false
		    });
			
			$(".lightbox-2").lightbox({
			    fitToScreen: true,
			    scaleImages: true,
			    xScale: 1.2,
			    yScale: 1.2,
			    displayDownloadLink: true
		    });
		});

	</script>
	<style type="text/css">
        input{ vertical-align:middle; margin:0; padding:0}
        .file-box{ position:relative;width:340px}
        .txtnew{ height:22px; border:1px solid #cdcdcd; width:180px;}
        .btnnew{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
        .filenew{ position:absolute; top:0; right:80px; height:24px;opacity: 0;width:260px }
    </style>
</head>
<body onload="setInterval('validFile()',50)">
    <section class="vbox">
        <!--公用头部  begin-->
        <header class="bg-dark dk header navbar navbar-fixed-top-xs">
            <div class="navbar-header aside-md">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="#" class="navbar-brand" data-toggle="fullscreen">
					<img style="border:0" src="${rc.contextPath}/resources/images/logo.png" alt="图书商城"> 后台管理系统
                </a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div class="flleft">&nbsp;</div>
            <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       管理员<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li><a href="updatePassword">修改密码</a> </li>
                        <li><a href="loginout">退出</a> </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!--公用头部  end-->
        <section>
            <section class="hbox stretch">
                <!-- 公用左侧导航  begin-->
                <aside class="bg-dark lter aside-md hidden-print" id="nav">
                    <section class="vbox">
                        <section class="w-f scrollable">
                            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                                <!-- 左侧大导航 begin -->
                                <nav class="nav-primary hidden-xs">
                                    <ul class="nav">
										<li>
                                            <a href="" >
                                                <span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index" class="active">
                                                <i class="fa fa-home icon">
                                                    <b class="bg-danger"></b>
                                                </i>
                                                <span>后台主页</span>
                                            </a>
                                        </li>
                                        <li  class="active">
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>首页管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li  class="active">
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>首页中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="navigation"><i class="fa fa-angle-right"></i><span>导航菜单</span> </a></li>
														<li class="active"><a href="advert"><i class="fa fa-angle-right"></i><span>滚动广告</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>图书管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>图书中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="outstorebook"><i class="fa fa-angle-right"></i><span>未上架图书列表</span> </a></li>
														<li><a href="instorebook"><i class="fa fa-angle-right"></i><span>已经上架图书列表</span> </a></li>
														<li><a href="discstorebook"><i class="fa fa-angle-right"></i><span>有折扣图书列表</span> </a></li>
														<li><a href="newstorebook"><i class="fa fa-angle-right"></i><span>新书上架列表</span> </a></li>
														<li><a href="hotstorebook"><i class="fa fa-angle-right"></i><span>畅销书推荐列表</span> </a></li>
														<li><a href="highstorebook"><i class="fa fa-angle-right"></i><span>评分最高列表</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>评论管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>评论中心</span>
                                                    </a>
                                                    <ul class="nav bg">
														<li><a href="reviewswait"><i class="fa fa-angle-right"></i><span>待审核评论</span> </a></li>
                                                        <li><a href="reviewspass"><i class="fa fa-angle-right"></i><span>已通过评论</span> </a></li>
														<li><a href="reviewsnopass"><i class="fa fa-angle-right"></i><span>未通过评论</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>订单管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>订单中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="orderwait"><i class="fa fa-angle-right"></i><span>未处理订单</span> </a></li>
														<li><a href="orderpass"><i class="fa fa-angle-right"></i><span>已处理订单</span> </a></li>
														<li><a href="orderfinish"><i class="fa fa-angle-right"></i><span>已完成订单</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>帐号管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>帐号中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="getAllUser"><i class="fa fa-angle-right"></i><span>已注册用户</span> </a></li>
														<li><a href="updatePassword"><i class="fa fa-angle-right"></i><span>修改密码</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>反馈管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>反馈中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="feedbackshow"><i class="fa fa-angle-right"></i><span>用户反馈</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- 左面大导航 end -->
                            </div>
                        </section>
                        <footer class="footer lt hidden-xs b-t b-dark">
                            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                                <i class="fa fa-angle-left text"></i>
                                <i class="fa fa-angle-right text-active"></i>
                            </a>
                            
                        </footer>
                    </section>
                </aside>
                <!-- 公用左侧导航  end-->
                <section id="content">
                    <section class="vbox">
                        <!--头部功能-->
                        <header class="header bg-white b-b clearfix">
                            <div class="row m-t-sm">
                                <div class="col-sm-3 m-b-xs">
                                    <div class="col-sm-2 m-b-xs">
										<a class="btn btn-sm btn-default js_add_new" href="#addnew" data-toggle="modal">增加广告</a>
						            </div>
                                </div>
                            </div>
                        </header>
                        <!--表格主体-->
                        <section class="scrollable padder">
                            <div class="m-b-md">
                            </div>
                            <!--数据表格  begin -->
							<section class="panel panel-default">
                                <div class="table-responsive">
                                    <table class="table table-striped m-b-none">
                                        <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>广告描述</th>
                                                <th>图片</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											#foreach($advPhoto in $advPhotoList)
                                             <tr>
                                                <td>$velocityCount</td>
                                                <td>$!advPhoto.photoDescribe</td>
												 <td>
													<a class="lightbox" href="$!imagesPath$!{advPhoto.fileName}" title=""><font color="red">查看附件</font></a>
												</td>
												<td>
                                                    <a title="编辑广告" data-original-title="" class="btn btn-xs btn-info js_edit_adv" code = "$!advPhoto.code" photoDescribe="$!advPhoto.photoDescribe" href="#editnew" data-title="编辑广告" data-toggle="modal">
                                                        <i class="fa fa-edit"> 编辑</i>
                                                    </a>
													<a title="删除广告" data-original-title="" class="btn btn-xs btn-danger js_delete_adv" code = "$!advPhoto.code" data-title="删除广告" data-toggle="modal">
                                                        <i class="fa fa-minus-square"> 删除</i>
                                                    </a>
                                                </td>
                                            </tr>
											#end
                                        </tbody>
                                    </table>

                                </div>
                            </section>
                            <!--数据表格  end -->
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
	    <!--弹层信息-->
    <div class="modal fade" id="addnew">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加广告</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addAdvertForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="input-id-1" class="col-sm-2 control-label">广告描述:</label>
                            <div class="col-sm-10">
                                <input type="text" id="photoDescribeadd" name="photoDescribe" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-id-1" class="col-sm-2 control-label">上传图片:</label>
                            <div class="col-sm-10">
                                <div class="file-box">
									<input type='text' name='address' id='addressadd' class='txtnew' />  
									<input type='button' class='btnnew' value='浏览...' />
									<input type="file" name="file" class="filenew" id="fileadd" size="28" accept="image/*" runat="server"/>
								</div>
								<span>附件不要大于<span style="color:red;">10M</span></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <button type="button" id="addAdvertButton" class="btn btn-info">添加</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
	<script>
		$(function(){
			$("#addAdvertButton").click(function(){
				if($("#photoDescribeadd").val() == ""){
					alert("广告描述不能为空！");
				}else if($("#addressadd").val() == ""){
					alert("请上传新图片！");
				}else{
					$("#addAdvertForm").attr("action","advertadd");
					$("#addAdvertForm").submit();
				}
			})
			$(".js_edit_adv").click(function(){
				var code = $(this).attr("code");
				var photoDescribe = $(this).attr("photoDescribe");
				$("#codeedit").val(code);
				$("#photoDescribe").val(photoDescribe);
			})
			$(".js_delete_adv").click(function(){
				var code = $(this).attr("code");
				if(confirm("删除后不可恢复!是否确定删除?")){
					window.location.href="advertdelete?code="+code;
				}
			})
		})
	</script>
	
    <div class="modal fade" id="editnew">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">编辑广告</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editAdvertForm" method="post" enctype="multipart/form-data">
						<input type="hidden" id="codeedit" name="code">
                        <div class="form-group">
                            <label for="input-id-1" class="col-sm-2 control-label">广告描述:</label>
                            <div class="col-sm-10">
                                <input type="text" id="photoDescribe" name="photoDescribe" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-id-1" class="col-sm-2 control-label">上传图片:</label>
                            <div class="col-sm-10">
                                <div class="file-box">
									<input type='text' name='address' id='address' class='txtnew' />  
									<input type='button' class='btnnew' value='浏览...' />
									<input type="file" name="file" class="filenew" id="file" size="28" accept="image/*" runat="server"/>
								</div>
								<span>附件不要大于<span style="color:red;">10M</span></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <button type="button" id="editAdvertButton" class="btn btn-info">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--弹层信息-->
	
	<script>
		$(function(){
			$("#editAdvertButton").click(function(){
				if($("#photoDescribe").val() == ""){
					alert("广告描述不能为空！");
				}else if($("#address").val() == ""){
					alert("请上传新图片！");
				}else{
					$("#editAdvertForm").attr("action","advertupdate");
					$("#editAdvertForm").submit();
				}
			})
		})
	</script>

    <!-- lightbox -->
	<style rel="stylesheet" type="text/css">
		#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(${rc.contextPath}/resources/images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(${rc.contextPath}/resources/images/prev.gif) left 50% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(${rc.contextPath}/resources/images/next.gif) right 50% no-repeat; }

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText{
color: #FF9834;
font-weight:bold;
text-decoration: none;
}
#nextLinkText{
padding-left: 20px;
}
#prevLinkText{
padding-right: 20px;
}
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData {
    padding-top: 5px;
}

/*** END : added padding when navbar is on top ***/

#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#imageData{
	padding:0 10px;
	}
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #numberDisplay a { color: black; padding-left: 5px; padding-right: 5px;}
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}
#imageData #helpDisplay {clear: left; float: left; display: block; }

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6 !important;
	display: none;
	}
	

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}	

#lightboxIframe {
	display: none;
}	

	</style>
</body>
</html>
